body {
  font-family: Georgia;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

#screen1, #screen2 {
  padding: 20px;
}

#screen2 {
  display: none; /* Initially hide screen2 */
  margin-top: 20px;
  text-align: left;
}

#bibleDisplay { /* Changed to bibleDisplay */
  width: 100%;
  margin-top: 10px;
  line-height: 1.6; /* Improve readability */
}

#bibleDisplay p {
    margin-bottom: 0.5em; /* Spacing between verses/paragraphs */
}

button {
  padding: 20px;
  cursor: pointer;
  width: 25%;
  font-size: 20px;
}

select {
  padding: 20px;
  font-size: 20px;
  width: 25%;
}
