body {
  font-family: Georgia;
  background-color: white;
  text-align: center;
  font-size: 20px;
}

#screen1, #screen2 {
  padding: 20px;
}

#screen2 {
  display: none; /* Initially hide screen2 */
  margin-top: 20px;
  text-align: left;
}

#bibleDisplay { /* Changed to bibleDisplay */
  width: 100%;
  margin-top: 10px;
  line-height: 1.6; /* Improve readability */
}

#bibleDisplay p {
    margin-bottom: 0.5em; /* Spacing between verses/paragraphs */
}

button {
  padding: 25px;
  margin: 5px;
  cursor: pointer;
  width: 25%;
  font-size: 20px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid black;
}

select {
  padding: 20px;
  font-size: 20px;
  width: 25%;
  border-radius: 25px;
  border: 1px solid black;
}
button:hover {
  background-color: gray
}
